.footer
  %ul.contents
    %li.content
      .content__head
        LookForDartsについて
      %ul
        %li
          =link_to url="#" ,class:"ebtn"do
            会社概要（運営会社）
        %li
          =link_to url="#" ,class:"ebtn"do
            プライバシーポリシー
    %li.content
      .content__head
        LookForDartsを見る
      %ul
        %li
          =link_to url="#" ,class:"fbtn"do
            メーカーー覧
        %li
          =link_to url="#" ,class:"gbtn"do
            ダーツー覧
    %li.content
      .content__head
        ヘルプ＆ガイド
      %ul
        %li
          =link_to url="#" ,class:"hbtn"do
            LookForDartsガイド
        %li
          =link_to url="#" ,class:"jbtn"do
            お知らせ
  .footer__logo
    =link_to url="#" ,class:"jbtn"do
      %p
        LookForDarts
      %a
        ©️LookForDarts

