.footer
  %ul.contents
    %li.content
      .content__head
        LookForDartsについて
      %ul
        %li
          =link_to "#" ,class:"ebtn"do
            会社概要（運営会社）
        %li
          =link_to "#" ,class:"ebtn"do
            プライバシーポリシー
    %li.content
      .content__head
        LookForDartsで探す
      %ul
        %li
          =link_to posts_path ,class:"gbtn"do
            ダーツ
        %li
          =link_to makers_path ,class:"fbtn"do
            メーカー
        %li
          =link_to categories_path ,class:"fbtn"do
            カテゴリー
    %li.content
      .content__head
        ヘルプ＆ガイド
      %ul
        %li
          =link_to "#" ,class:"hbtn"do
            LookForDartsガイド
        %li
          =link_to "#" ,class:"jbtn"do
            お知らせ
  .footer__logo
    =link_to url="#" ,class:"jbtn"do
      %a
        = link_to root_path do
          LookForDarts
      %p
        ©️LookForDarts

