.app
  .app__main
    .app__main--top
      気になったダーツはショップに買いに行こう
    .app__main--midle
      おすすめオンラインショップ
    .app__main--bottom
      =link_to url="#" ,class:"cbtn"do
        = image_tag 'sdarts.jpg',  height: '80', width: '120', class: 'iamge3'
      =link_to url="#" ,class:"cbtn" do
        = image_tag 'dartshive.jpg',  height: '80', width: '120', class: 'iamge3'
      =link_to url="#" ,class:"cbtn" do
        = image_tag 'tito.jpg',  height: '80', width: '120', class: 'iamge3'