= render 'shared/header'
.main
  .main__top
    .main__top--content
      %h2 お気に入りのダーツを共有しよう
.container
  .container__title
    .container__title__text
      %h3 LookForDartsとは
      %h4 ダーツってたくさん種類があって迷いますよね？
      %h4 そんな方へのおすすめのダーツの口コミ共有サービスです。
  .products
    .products__new
      %h3 新着アイテム
    .products__new__item
      .products__new__item__image
        =image_tag 'furaito.jpg', height: '100%', width: '100%', class: 'iamge10'
      .products__new__item__body
        .products__new__item__body__name
          種類: Lフライト
        .products__new__item__body__data
          %ul
            %li
              メーカー: LSTYLE
    .products__new__item
      .products__new__item__image
        =image_tag 'furaito.jpg', height: '100%', width: '100%', class: 'iamge10'
      .products__new__item__body
        .products__new__item__body__name
          種類: Lフライト
        .products__new__item__body__data
          %ul
            %li
              メーカー: LSTYLE
    .products__new__item
      .products__new__item__image
        =image_tag 'furaito.jpg', height: '100%', width: '100%', class: 'iamge10'
      .products__new__item__body
        .products__new__item__body__name
          種類: Lフライト
        .products__new__item__body__data
          %ul
            %li
              メーカー: LSTYLE
    .products__new__item
      .products__new__item__image
        =image_tag 'furaito.jpg', height: '100%', width: '100%', class: 'iamge10'
      .products__new__item__body
        .products__new__item__body__name
          種類: Lフライト
        .products__new__item__body__data
          %ul
            %li
              メーカー: LSTYLE