.content {
  &__top {
  padding: 80px 30px 80px 30px;
  background-color: whitesmoke;
  width: 100%;
  height: auto;
    &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    color: #464545;
    font-weight: bold;
    }
    &__category {
      margin:auto;
      .products{
        width: 220px;
        display: inline-block;
        margin: 50px;
        &__item-image{
        width: 220px;
        height: 200px;
        position: relative;
        overflow: hidden;
        z-index: auto;
        }
        &__item-body{
        background-color: white;
        color: #5d627d;
        border-top: solid 5px #5d627d;
        box-shadow: 0 3px 5px rgba(0,0,0,0.22);
        padding: 16px;
          &__name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 20px;
          text-align: center;
          font-weight: bold;
            a {
            font-weight: bold;
            text-decoration: none;
            color: #5d627b;
            }
          }
          &__data{
            text-align: center;
          }
          &__maker{
            text-align: center;
          }
          ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            font-size: 15px;
            text-align: center;
            padding-left: 20px;
          }
          li {
            font-size: 15px;
            font-weight: normal;
            margin: 0 auto;
          }
        }
      }
    }
  }
}