.product {
  background-color: whitesmoke;
  padding-bottom: 50px;
  &__top {
  padding: 40px 30px;
  width: 100%;
  height: auto;
    &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    color: #464545;
    font-weight: bold;
    }
  }
  &__main {
    height: auto;
    width: 800px;
    margin: 0 auto;
    &__item {
      display: flex;
      background-color: white;
      padding-top: 20px;
      &__image {
        height: 350px;
        width: 400px;
        margin: 50px 0 50px 0;
      }
      &__name {
        width: 400px;
        padding: 30px;
        &__title {
          text-align: center;
          font-weight: bold;
          color: #464545;
          font-size: 25px;
          margin: 10px;
        }
        .table {
          display: table;
          border-collapse: collapse;
          width: 100%;
          padding: 20px;
        }
        th {
          border: solid 1px rgb(204, 204, 204);
          background-color: rgb(243, 240, 240);
          width: 150px;
          text-align: center;
          font-weight: bold;
          padding: 15px;
        }
        td {
          border: solid 1px rgb(204, 204, 204);
          width: 300px;
          text-align: center;
        }
        td.text{
          font-size: 12px;
          text-align: left;
          height: 150px;
        }
      }
    }
  }
  .comment {
    &__main {
      height: auto;
      width: 800px;
      margin: auto;
      background-color: white;
      &__item {
        background-color: white;
        text-align: center;
        padding: 30px;
        form {
          h3 {
            text-align: center;
            font-weight: normal;
            font-size: 20px;
          }
          input,textarea {
            width: 80%;
            border-radius: 5px;
          }
          input[type="submit"] {
            border-radius: 20px;
            font-size: 18px;
            line-height: 50px;
            width: 250px;
            background-color: red;
            color: white;
            &:hover {
            }
          }
        }
      }
      .comments {
        background-color: white;
        padding: 0 100px 10px 100px;
        height: 100%;
        &__title {
          h6 {
            font-weight: bold;
            color: rgb(78, 78, 78);
          }
        }
      }
      .message {
        background-color: white;
        padding: 0 100px 30px 100px;
        &__main {
          border-top: solid 2px whitesmoke;
          &__content {
            padding: 10px;
            display: flex;
            border-bottom: solid 2px whitesmoke;
            &__left{
              padding: 10px 20px 10px 0;
              font-weight: bold;
              font-size: 15px;
            }
            &__right{
              padding: 10px 0 10px 0;
              margin-left: 10px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
 
