* {
  box-sizing: border-box;
}
.header{
  padding: 0 60px;
  &__main{
    max-width: 1040px;
    width: 100%;
    min-height: 100px;
    margin:auto;
    &--top{
      height: 30px;
      position: relative;
      display: flex;
      align-items: center;
      &-icon {
        margin-top: 40px;
        a {
        font-size: 30px;
        color: black;
        font-weight: bold;
        text-decoration: none;
        }
      }
    }
    &--bottom{
      display: flex;
      justify-content: flex-end;
      .review{
        margin-right: 20px;
      }
      .maker-name {
        margin-right: 20px;
      }
      .left-name{
        margin-right: 20px;
      }
      a{
        color: grey;
        text-decoration: none;
      }
    }
  }
}


.main {
  &__top {
    background-image:image-url('dartslive2.jpg');
    margin-top: -20px;
    width: 100%;
    height: auto;
    background-size: cover;
    &--content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h2 {
        margin: 0 0 20px 45px;
        padding: 3em 0;
        color: white;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 5vw;
        text-shadow: black 1px 1px 0px, black -1px 1px 0px,
                    black 1px -1px 0px, black -1px -1px 0px;
      }
    }
  }
}
.container {
  background-color: whitesmoke;
  height: 100%;
  &__title {
    text-align: center;
    padding: 40px;
  }
  &__text {
    
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 69, 69);
  }
  h4 {
    color: rgb(70, 69, 69);
  }
  .products {
    &__new {
      margin:auto;
      display: flex;
      justify-content: space-around;
      &__item {
        width: 220px;
        display: inline-block;
        margin: 60px;
        &__image {
          width: 220px;
          height: 200px;
          position: relative;
          overflow: hidden;
          z-index: auto;
        }
        &__body {
          padding: 16px;
          color: #5d627b;
          background: white;
          border-top: solid 5px #5d627b;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          &__name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          &__data {
            font-size: 16px;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}

