* {
  box-sizing: border-box;
}
.header{
  padding: 0 40px;
  &__main{
    width: 100%;
    min-height: 80px;
    margin:auto;
    &--top{
      height: 30px;
      position: relative;
      display: flex;
      align-items: center;
      &-icon {
        margin-top: 40px;
        a {
        font-size: 25px;
        color: black;
        font-weight: bold;
        text-decoration: none;
        }
      }
    }
    &--bottom{
      display: flex;
      justify-content: flex-end;
      padding-left: 180px;
      .review{
        margin-right: 20px;
      }
      .maker-name {
        margin-right: 20px;
      }
      .left-name{
        margin-right: 20px;
      }
      a{
        color: grey;
        text-decoration: none;
      }
    }
  }
}


.main {
  &__top {
    background-image:image-url('dartslive2.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    &--content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h2 {
        margin: 0 0 20px 45px;
        padding: 3em 0;
        color: white;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 5vw;
        text-shadow: black 1px 1px 0px, black -1px 1px 0px,
                    black 1px -1px 0px, black -1px -1px 0px;
      }
    }
  }
}
.container {
  background-color: whitesmoke;
  height: 100%;
  &__title {
    text-align: center;
    padding: 40px;
  }
  &__text {
    
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 69, 69);
  }
  h4 {
    color: rgb(70, 69, 69);
  }
  .product {
    &__new {
      margin:auto;
      display: flex;
      justify-content: space-around;
    }
  }
  .products {
    &__item {
      width: 220px;
      display: inline-block;
      margin: 60px;
      &__image {
        width: 220px;
        height: 200px;
        position: relative;
        overflow: hidden;
        z-index: auto;
      }
      &__body {
        padding: 16px;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        &__title {
          overflow: hidden;
          padding: 10px;
          line-height: 1.5;
          font-size: 20px;
          text-align: center;
          font-weight: bold;
          border-bottom: solid 1px;
          a {
            font-weight: bold;
            text-decoration: none;
            color: #5d627b;
          }

        }
        &__category {
          font-size: 16px;
          padding: 5px 30px 5px 30px;
          text-align: center;
          border-bottom: solid 1px;
        }
        &__maker {
          font-size: 16px;
          padding: 5px 30px 5px 30px;
          text-align: center;
        }
        ul {
          font-weight: bold;
          li {
            font-size: 20px;
          }
        }
      }
    }
  }
}
.app{
  background-image:image-url('geisya-darts.jpg');
  background-repeat: no-repeat;
  padding: 60px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__main{
    color: #fff;
    text-align: center;
    &--top{
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    }
    &--midle{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &--bottom{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .cbtn{
        margin-right:20px;
      }
    }
  }
}

.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  ul.contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    li.content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;    
      }
      ul{
        li{
          a{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0 20px 0;
    a{
      color: #fff;
      font-size: 30px;
      text-decoration: none;
    }
    p{
      text-decoration: none;
      font-size:10px;
    }
  }
}



