.account-page {
  .account-page__inner {
    padding: 60px;
    background-image:image-url('geisya-darts.jpg');
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    height: 100vh;
    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 100%;

    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 30px;
      font-weight: bold;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
      }
    }
    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;
    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: bold;
      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 300px;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 133px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
    font-weight: bold;
  }

  input[type='submit'] {
    margin-top: 20px;
    color: #fff;
    background-color: red;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
