.products
  .products__item-image
    =image_tag 'bareru1.jpg', height: '100%', width: '100%', class: 'iamge10'
  .products__item-body
    .products__item-body__title
      = link_to "#" do
        = post.title
    .products__item-body__category
      %ul
        種類：
        %li
          
    .products__item__body__maker
      %ul
        メーカー：
        %li
          
    .products__item__body__name
      %ul
        投稿者：
        %li
          = link_to post.user.name, user_posts_posts_path(user_id: post.user.id)