= render 'shared/header'
.content
  .content__top
    .content__top__title
      一覧
    .content__top__category
      - @makers.each do |maker|
        .products
          .products__item-image
            =image_tag 'furaito.jpg', height: '100%', width: '100%', class: 'iamge10'
          .products__item-body
            .products__item-body__name
              = link_to "#" do
                タイトル
            .products__item-body__data
              %ul
                種類：
                %li
                  フライト
            .products__item-body__maker
              %ul
                メーカー：
                %li
                  エルスタイル
= render 'shared/footer'