= render 'shared/header'
.product
  .product__top
    .product__top__title
      投稿詳細
    .product__top__category
  .product__main
    .product__main__item
      .product__main__item__image
        =image_tag 'furaito.jpg', height: '100%', width: '100%'
      .product__main__item__name
        .product__main__item__name__title
          ダーツのフライト
        .table
          %table
            %tr
              %th.name 投稿者
              %td 山野
            %tr
              %th.category カテゴリー
              %td フライト
            %tr
              %th.maker メーカー
              %td エルスタイル
            %tr
              %th.text 説明
              %td.text とてもデザインがかっこいしいけています。しかもかなりオシャレこれはとてももいいよね。めっちゃおすすめだよ。買わないと損するよ。みんな買っちゃえ。
= render 'shared/footer'




